@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&family=Poppins:wght@400;700&display=swap');

* {
    font-family: 'Be Vietnam Pro', 'Poppins';
}

body {
    margin: 0px;
    padding: 0px;
    background: radial-gradient(253.33% 175.27% at 66.5% 52.1%, rgba(253, 253, 253, 0.90) 10.05%, rgba(225, 234, 250, 0.90) 54.26%, rgba(252, 253, 255, 0.90) 100%), #F2F8F4;
}

a {
    text-decoration: none;
    max-width: max-content;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0px;
}

.area_whatsapp {
    position: fixed;
    display: flex;
    right: 20px;
    bottom: 20px;
    height: 68px;
    z-index: 99;
}

.area_whatsapp img {
    width: 68px;
    height: 68px;
}

.menu_mobile {
    display: none;
}

.menu_mobile_open {
    display: none;
}

.area_redes_menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    gap: 20px;
    width: 100%;
    max-width: max-content;
}

.area_redes_menu a {
    display: flex;
    align-items: center;
}

.container_menu {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 32px;
    background: #351E76;
    max-width: 1200px;
    padding: 20px 0px;
}

.container_menu_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

.area_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 20px;
}

.logo_menu {
    max-width: max-content;
    width: 100%;
    height: auto;
}

nav {
    width: 100%;
    max-width: max-content;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 0px;
    padding: 0px;
}

nav ul li {
    list-style: none;
    text-align: center;
}

nav ul li a {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    line-height: 105.6%;
}

.container_slide {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 0px 0px 0px;
    position: relative;
}

.bg_lines_1 {
    position: absolute;
    top: 300px;
    left: 0px;
    max-width: max-content;
    width: 100%;
    z-index: -1;
}

.container_slide_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.area_slide {
    display: flex;
    justify-content: center;
    width: 100%;
}


.area_bg_card {
    max-width: 1180px;
    height: 520px;
    border-radius: 32px;
    background: #351E76;
    backdrop-filter: blur(5px);
}

.area_bg_slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/bg_slide.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 32px;
}

.slide-1 .owl-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: absolute;
    width: 100%;
    bottom: 70px;
    margin-top: 0px !important;
}

.slide-1.owl-theme .owl-dots .owl-dot span {
    width: 15px !important;
    height: 15px !important;
    background: #FFFFFF !important;
    margin: 0px !important;
    transition: all ease 200ms !important;
    display: flex;
    border-radius: 100px;
}

.slide-1.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background-color: #351E76 !important;
    height: 15px !important;
    width: 30px !important;
    display: flex;
    border-radius: 100px;
}

.area_texts_bg_slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 600px;
}

.title_bg_slide h2 {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Poppins';
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 105.6%;
    text-transform: uppercase;
    margin: 0px;
}


.sub_title_bg_slide p {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 105.6%;
    margin: 0px;
}

/*Avaliação*/

.container_avaliacao {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #2F1771;
    margin: 40px 0px 0px 0px;
}

.container_avaliacao_int {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    width: 100%;
}

.area_avaliacao_neuro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.area_avaliacao_neuro img {
    max-width: 540px;
    width: 100%;
    height: auto;
}

.area_texts_avaliacao {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 520px;
    width: 100%;
}

.info_avaliacao p {
    color: #FCFBFE;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}

.info_avaliacao p b {
    font-weight: 700;
}

.info_avaliacao p u {
    font-weight: 700;
}

.container_avaliacao_2 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 0px 40px 0px;
}

.area_avaliacao_neuro_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.area_avaliacao_neuro_2 img {
    max-width: 500px;
    width: 100%;
    height: auto;
}

.title_avaliacao h2 {
    color: #000;
    font-size: 32px;
    font-weight: 400;
    line-height: 134%;
    margin: 0px;
}

.title_avaliacao h2 b {
    font-weight: 700;
}

.info_avaliacao_2 p {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}

.info_avaliacao_2 p b {
    font-weight: 700;
}

.btn_contato.avaliacao {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #351E76;
    padding: 15px 20px;
    transition: all ease 300ms;
    max-width: 360px;
}

.btn_contato.avaliacao h2 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
}


/*Especialidades*/

#especialidades {
    padding: 40px 0px 40px 0px;
    width: 100%;
}

.container_especialidades {
    display: flex;
    justify-content: center;
}

.container_especialidades_int {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    max-width: 1280px;
    width: 100%;
}

.area_especialidades {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.title_especialidades h2 {
    color: #2C2D40;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}

.card_especialidades {
    width: 100%;
    max-width: 400px;
    height: 570px;
    background: #351E76;
    border-radius: 30px;
    transition: all ease 200ms;
    box-shadow: 10px 12px 17px -14px rgba(0, 0, 0, 0.25);
}

.card_especialidades_int {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
    padding: 25px 30px;
}

.card_especialidades:hover {
    background: #FCFDFF;
}

.card_especialidades .card_especialidades_int svg path {
    fill: #ffffff;
}

.card_especialidades:hover>.card_especialidades_int svg path {
    fill: #351E76;
}

.card_especialidades:hover>.card_especialidades_int .area_text_especialidades .title_card_especialidade h2 {
    color: #351E76;
}

.card_especialidades:hover>.card_especialidades_int .area_text_especialidades .sub_title_card_especialidade p {
    color: #172048;
}

.btn_contato {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #351E76 11.01%;
    padding: 5px 20px;
    transition: all ease 300ms;
}

.btn_contato:hover {
    background: #FCFDFF;
    box-shadow: 10px 12px 17px -14px rgba(0, 0, 0, 0.25);
}

.btn_contato:hover>h2 {
    color: #172048;
}

.btn_contato h2 {
    color: #ffffff;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    margin: 0px;
}

.area_text_especialidades {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title_card_especialidade h2 {
    color: #ffffff;
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
}

.sub_title_card_especialidade p {
    color: #ffffff;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 185%;
    margin: 0px;
}

.container_instagram {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-x: hidden !important;
}

.container_instagram_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

.area_instragram {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


/*Profissionais*/
#container_profissionais {
    background-image: url(../img/bg_profissionais.webp);
    width: 100%;
    height: 640px;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg_lines_2 {
    position: absolute;
    right: 0px;
    top: -280px;
    max-width: max-content;
    width: 100%;
    z-index: -1;
}

.container_profissionais {
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
    position: relative;
}

.container_profissionais_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.area_slide_total {
    max-width: 800px;
    width: 100%;
}

.area_profissionais {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    width: 100%;

}

.area_texts_profissionais_bg {
    background-image: url(../img/bg_texts.svg);
    background-size: cover;
    width: 100%;
    max-width: 600px;
    height: auto;

}

.area_texts_profissionais {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 400px;
    padding: 50px 0px 60px 70px;

}

.title_profissionais h2 {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
    background: linear-gradient(90deg, #FFF 0.21%, #F1F5FF 99.79%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sub_title_profissionais p {
    color: #FFF;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 0px;
}

.card_profissionais {
    width: 100%;
    max-width: 340px;
    height: 400px;
    border-radius: 8px;
    background: #FFF;
    padding: 0px 25px;
}

.card_profissionais_int {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.card_profissionais_int img {
    width: 100%;
    max-width: max-content;
    height: auto;
    object-fit: contain;
    margin-top: -40px;
}

.slide-2 .item {
    display: flex;
    justify-content: center;
}


.slide-2 .owl-nav {
    display: flex;
    gap: 20px;

}

.slide-2.owl-carousel .owl-stage {
    padding: 40px 0px;
}

.title_name_profissional h2 {
    color: #351E76;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
}

.info_profissao p {
    color: #575757;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
}

.sub_title_profissional p {
    color: #575757;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.32px;
    margin: 0px;
    height: 120px;
    overflow: auto;
}

/*servicos*/
#container_servicos {
    border-radius: 20px;
    border: 0.1px solid #BFCDF2;
    background: linear-gradient(149deg, rgba(252, 251, 255, 0.92) 4.06%, rgba(252, 251, 255, 0.00) 117.14%);
    box-shadow: 10px 12px 17px -14px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(8.5px);
}

.container_servicos {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 0px 40px 0px;
}

.container_servicos_int {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 1340px;
}


.area_servicos {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    gap: 40px;
}

.area_servicos img {
    max-width: 580px;
    width: 100%;
    height: auto;
}

.area_text_servicos {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: max-content;
}


.title_servicos h2 {
    color: #2C2D40;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}

.area_cards_servicos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    row-gap: 40px;
    column-gap: 30px;
}

.cards_servicos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 320px;
}

.box {
    width: 62px;
    height: 62px;
    border-radius: 10px;
    background: linear-gradient(180deg, #351E76 0%, #2C2D40 100%);
}

.title_card_servicos h2 {
    color: #351E76;
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
    margin: 0px;
}

.sub_title_card_servicos p {
    color: #172048;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 185%;
    margin: 0px;
}

/*depoimentos*/

.container_depoimentos {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 0px 40px 0px;
    overflow-x: hidden !important;
}

.container_depoimentos_int {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    width: 100%;
}

.area_depoimentos {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}


.title_depoimentos_area h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(90deg, #351E76 0.21%, #2C2D40 99.79%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px;
}

.capcOd {
    border-radius: 30px;
    background: linear-gradient(58deg, #351E76 40.02%, #8388DE 108.44%);
}

.card_depoimentos {
    max-width: 526px;
    width: 100%;
    height: auto;
    border-radius: 30px;
    background: linear-gradient(58deg, #351E76 40.02%, #8388DE 108.44%);
    padding: 40px 25px;
}

.slide-3 .item {
    display: flex;
    justify-content: center;
}

.slide-3 .owl-prev {
    position: absolute;
    left: -60px;
    top: calc(50% - 30px);
}


.slide-3 .owl-next {
    position: absolute;
    right: -60px;
    top: calc(50% - 30px);
}


.card_depoimentos_int {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.area_avaliacao {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.area_estrelas {
    display: flex;
    align-items: center;
    gap: 2px;
}

.area_estrelas img {
    max-width: 20px;
    width: 100%;
}

.title_depoimentos h2 {
    color: #FFF4EB;
    font-size: 26px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.64px;
    margin: 0px;
}

.sub_title_depoimentos p {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 30px */
    letter-spacing: -0.4px;
    margin: 0px;
}

footer {
    background-image: url(../img/bg_footer.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 420px;
    padding: 40px 0px 20px 0px;
}

.container_footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container_footer_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.area_footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
}

.area_menu_rapido {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    max-width: max-content;
}

.title_menu_rapido h2 {
    color: #351E76;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    /* 137.5% */
    margin: 0px;
}


.info_menu_rapido p {
    color: #575757;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
    margin: 0px;
}

.area_localizacao {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    max-width: 280px;
}


.title_localizacao h2 {
    color: #351E76;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    /* 137.5% */
    margin: 0px;
}

.area_endereco {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.info_endereco p {
    color: #575757;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin: 0px;
}

.area_contato {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    max-width: max-content;
}

.area_sociais {
    display: flex;
    align-items: center;
    gap: 15px;
}

.area_sociais svg {
    background-color: #351E76;
    border-radius: 100px;
    padding: 14px;
}

.title_contato h2 {
    color: #351E76;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    /* 137.5% */
    margin: 0px;
}



@media(max-width: 1024px) {

    .container_avaliacao {
        padding: 0px 0px 40px 0px;
    }

    .area_avaliacao_neuro {
        flex-direction: column-reverse;
        gap: 0px;
        padding: 0px 20px;
    }

    .area_avaliacao_neuro_2 {
        flex-direction: column;
        padding: 0px 20px;
    }

    .title_avaliacao h2 {
        font-size: 28px;
        line-height: 120%;
    }

    nav ul {
        display: none;
    }

    .menu_mobile_open {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 8px;
        padding: 12px 8px;
        border-radius: 10px;
    }

    header {
        padding: 0px 0px;
        width: auto;
    }

    .container_menu {
        border-radius: 0px;
        max-width: 100%;
    }

    .menu_mobile nav ul li a:hover {
        color: #BE868C;
    }

    @keyframes move {
        0% {
            top: -100%;

        }

        100% {
            top: 96px;
        }

    }

    .menu_mobile_close {
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        margin: 0px 20px 0px 20px;
        height: 49px;
    }

    .line_1 {
        transform: rotate(130deg);
        position: absolute;
    }

    .line_2 {
        position: absolute;
        transform: rotate(50deg);
    }


    .menu_mobile_close div {
        width: 40px;
        height: 3px;
        border-radius: 100px;
        background: #ffffff;
        box-shadow: 4px 2px 4px rgb(255 255 255 / 40%);
    }

    .area_menu {
        padding: 0px;
    }

    .container_menu_int {
        padding: 0px 20px;
    }

    .menu_mobile_open div {
        width: 40px;
        height: 3px;
        border-radius: 100px;
        background: #ffffff;
        box-shadow: 4px 2px 4px rgb(255 255 255 / 40%);
    }

    .menu_mobile {
        transition: all ease-in 400ms;
        display: none;
        width: 100%;
        position: absolute;
        justify-content: center;
        text-align: center;
        top: 80px;
        left: 0px;
        background: #351E76;
        filter: drop-shadow(17px 17px 43px #351E76);
        z-index: 10;
        padding: 20px 0px 20px 0px;
    }

    .menu_mobile nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 15px;
    }

    .menu_mobile nav ul li a {
        font-size: 18px;
    }

    .modal {
        padding: 40px 20px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .area_texts_modal {
        gap: 10px;
    }


    .area_texts_bg_slide {
        gap: 20px;
    }

    .title_bg_slide h2 {
        font-size: 36px;
    }

    .sub_title_bg_slide p {
        font-size: 18px;
    }


    .area_slide_total {
        max-width: 700px;
        width: 100%;
    }

    .title_especialidades h2 {
        font-size: 26px;
    }

    .title_card_especialidade h2 {
        font-size: 22px;
    }

    #container_profissionais {
        height: auto;
    }

    .container_profissionais {
        padding: 40px 0px 40px 0px;
    }

    .area_profissionais {
        flex-direction: column;
    }

    .title_servicos h2 {
        font-size: 26px;
    }

    .title_card_servicos h2 {
        font-size: 22px;
    }

    .area_servicos {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .area_servicos img {
        max-width: 500px;
        width: 100%;
    }

    .area_cards_servicos {
        justify-content: center;
    }

    .area_text_servicos {
        padding: 0px 20px;
        max-width: 685px;
        width: auto;
    }

    .area_whatsapp {
        height: 55px;
    }

    .area_whatsapp img {
        width: 55px;
        height: 55px;
    }

    .title_depoimentos_area h2 {
        font-size: 26px;
    }

    .area_depoimentos {
        gap: 20px;
    }

    .card_depoimentos {
        height: auto;
        max-width: 480px;
    }

    .title_depoimentos h2 {
        font-size: 26px;
    }

    .sub_title_depoimentos p {
        font-size: 18px;
    }

    footer {
        height: auto;
        padding: 40px 0px 40px 0px;
    }

    .area_footer {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .area_menu_rapido {
        max-width: 280px;
    }

    .area_contato {
        max-width: 280px;
    }

}

@media(max-width: 768px) {

    .title_bg_slide h2 {
        font-size: 28px;
    }

    .slide-3 .owl-next {
        right: 0px;
    }

    .slide-3 .owl-prev {
        left: 0px;
    }


}


@media(max-width: 480px) {

    .area_texts_bg_slide {
        padding: 0px 20px;
    }

    .area_bg_card {
        height: 300px;
        margin: 0px 20px;
    }

    .title_bg_slide h2 {
        font-size: 24px;
    }

    .sub_title_bg_slide p {
        font-size: 16px;
    }

    .slide-1 .owl-dots {
        bottom: 20px;
    }

    .area_especialidades {
        padding: 0px 20px;
        width: auto;
    }

    .card_especialidades:hover>.card_especialidades_int .area_text_especialidades .sub_title_card_especialidade p {
        max-height: 100%;
        overflow: auto;
        opacity: 1;
        transform: scaleY(1);
    }

    .container_depoimentos {
        padding: 40px 0px 60px 0px;
    }

    .container_especialidades_int {
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    .card_especialidades_int {
        align-items: center;
        justify-content: center;
    }

    .title_card_especialidade h2 {
        text-align: center;
    }

    .sub_title_card_especialidade p {
        max-height: 0px;
        overflow: hidden;
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: all ease 200ms;
        text-align: center;
    }


    /*Profissionais*/
    #container_profissionais {
        background-position: top;
    }

    .area_texts_profissionais {
        padding: 40px 0px 0px 40px;
        max-width: 360px;
    }

    .area_profissionais {
        gap: 40px;
    }

    .slide-2 .owl-nav {
        padding: 0px 50px;
    }

    .title_profissionais h2 {
        font-size: 26px;
    }

    .card_especialidades {
        height: auto;
    }

    .card_especialidades_int {
        gap: 20px;
    }

    .area_servicos {
        gap: 20px;
        padding: 0px 20px;
        width: auto;
    }

    .cards_servicos {
        max-width: 375px;
    }

    .area_text_servicos {
        padding: 0px;
    }

    .area_text_servicos {
        gap: 20px;
    }

    .slide-3 .owl-nav .owl-next img {
        width: 40px;
        height: 40px;
    }

    .slide-3 .owl-nav .owl-prev img {
        width: 40px;
        height: 40px;
    }

    .slide-3 .owl-prev {
        top: auto;
        left: 100px;
        bottom: -60px;
    }

    .slide-3 .owl-next {
        top: auto;
        right: 100px;
        bottom: -60px;
    }

    .sub_title_depoimentos {
        height: 200px;
        overflow-x: scroll;
    }

    .area_localizacao {
        gap: 20px;
    }

    .card_depoimentos {
        max-width: 315px;
    }

}

@media(max-width: 425px) {
    .area_texts_profissionais {
        padding: 40px 0px 0px 20px;
    }


}